body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #e9ecef;
}

.door-info-card {
  width: 100%;
  max-width: 400px; /* حداکثر عرض */
  border-radius: 15px;
  border: 1px solid #007bff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: box-shadow 0.3s;
  margin: 20px auto; /* فاصله از بالا و پایین */
}

.status-container {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f8ff;
}

.status-icon {
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.animate-button {
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

/* ریسپانسیو */
@media (max-width: 600px) {
  .door-info-card {
    width: 90%; /* عرض برای صفحه‌های کوچک‌تر */
    max-width: none; /* حداکثر عرض را غیرفعال کنید */
  }
}
